:root {
    --bg: #212529;
    --red: #e74c3c;
    --dark-red: #c0392b;
    --orange: #E67E22;
    --green: #27AE60;
    --blue: #3787c7;
    --gray: #555555;
    --dark-gray: #323538;
    --medium-gray: #696969;
    --light-gray: #ebe5d6;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    background-color: var(--bg);
    -webkit-user-select: none;
}

#wrapper {
    margin: 40px 40px 0 40px;
}

.centerContainer {
    width: 100%;
    text-align: center;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    -webkit-app-region: drag;
}

.control-box {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 16px;
    height: 26px;
    padding-top: 5px;
    margin-left: 10px;
    -webkit-app-region: no-drag;
    z-index: 9;
}

.control-box .close {
    background-color: var(--red);
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    z-index: 99;
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.53);
}

.control-box .close:hover {
    background-color: var(--dark-red);
}

button {
    display: block;
    border: none;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    outline: 0;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.53);
}

button:hover {
    opacity: 0.9;
}

button:disabled {
    background-color: var(--gray);
    opacity: 1;
    color: var(--light-gray);
    cursor: not-allowed;
}

.button-sm {
    padding: 6px 16px !important;
}

.text-sm {
    font-size: .95rem;
}

.button-green {
    background-color: var(--green);
}

.button-orange {
    background-color: var(--orange);
}

.button-gray {
    background-color: var(--gray);
}

.buttonContainer {
    display: inline-flex;
    margin-top: 15px;
}

h1 {
    margin: 30px 0 15px 0;
    color: var(--light-gray);
    font-size: 2.5em;
}

.d-flex {
    display: flex;
}

.subtitle {
    color: var(--light-gray);
    font-size: 1.15em;
}

#selectFiles, #processVideos, #settingsBtn {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#projectSavePathBtn {
    margin-left: 8px;
}

#projectSavePathOption {
    font-size: .8em;
    width: 350px;
}

.processDataContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.text-white {
    color: var(--white);
}

.text-success {
    color: var(--green);
}

a {
    text-decoration: none;
    color: var(--green);
}

a:hover {
    text-decoration: underline;
}

.repo {
    position: absolute;
    bottom: 15px;
    right: 25px;
    font-weight: bold;
    color: var(--gray);
}

.repo img + img {
    margin-left: 8px;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 48px;
    height: 28px;
    margin-top: -14px;
    margin-left: -48px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e67e22;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e67e22;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.progress-container {
    display: flex;
    justify-content: center;
    padding: 25px 0 10px 0;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 550px;
    height: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--light-gray);
    border-radius: 15px;
    border: 0;
}

progress.progress-orange[value]::-webkit-progress-value {
    background-color: var(--orange);
    border-radius: 15px;
}

progress.progress-green[value]::-webkit-progress-value {
    background-color: var(--green);
    border-radius: 15px;
}

progress.progress-red[value]::-webkit-progress-value {
    background-color: var(--red);
    border-radius: 15px;
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.lastProjectContainer {
    width: 100%;
    margin-top: 25px;
    height: 208px;
}

.lastProjectContainer .item {
    display: flex;
    align-items: center;
    color: var(--light-gray);
    background-color: var(--gray);
    width: 100%;
    height: 44px;
    margin: 4px 0 4px 0;
    padding: 6px 16px 6px 16px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.53);
}

.lastProjectContainer .item:hover {
    filter: brightness(0.90);
}

.loading:after {
    content: '.';
    animation: dots 1s steps(5, end) infinite;
}

input[type="text"] {
    background: rgba(99, 110, 114, 0.3);
    color: var(--light-gray);
    height: 35px;
    border: 0;
    border-radius: 5px;
    padding: 0 12px;
    font-size: 0.95rem;
    outline: 0;
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.53);
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

select {
    background-color: var(--gray);
    border: 0;
    outline: 0;
    padding: 10px 100px 10px 20px;
    border-radius: 5px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==) !important;
    background-repeat: no-repeat !important;
    background-position-x: 100% !important;
    background-position-y: 50% !important;
    -webkit-appearance: none !important;
    cursor: pointer;
    font-size: .95em;
    color: var(--light-gray);
}

select > option {
    background-color: var(--gray);
    color: var(--light-gray);
}

select::-ms-expand {
    display: none;
}

#settingsWrapper {
    background-color: var(--bg);
    width: 100%;
    height: calc(100vh - 40px);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40px;
    padding: 0 40px 0 40px;
    color: var(--light-gray)
}

#settingsWrapper .title {
    display: flex;
    font-size: 2em;
    padding-bottom: 14px;
    border-bottom: 1px solid var(--gray);
    margin-top: -15px;
    margin-bottom: 20px;
}

#settingsWrapper .title .goBack {
    padding-right: 15px;
    padding-left: 5px;
    cursor: pointer;
}

#settingsWrapper .title .goBack:hover {
    opacity: .8;
}

#settingsWrapper .configLine {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 50px;
    padding: 8px 20px 8px 20px;
    background-color: var(--dark-gray);
    border-radius: 5px;
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.53);
}

#settingsWrapper .configLine + .configLine {
    margin-top: 10px;
}

#settingsWrapper .configLine .configName {
    font-size: 1.1em;
    padding-top: 10px;
}

#settingsWrapper .configLine .configDescription {
    font-size: .8em;
    color: var(--medium-gray);
    margin-left: 3px;
    padding-top: 6px;
    padding-bottom: 10px;
}

#autoScanWrapperBg {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#autoScanWrapper {
    background-color: var(--bg);
    color: var(--light-gray);
    position: absolute;
    top: 50%;
    transform: translateY(-55%) translateX(15%);
    width: 75%;
    height: 65%;
    border-radius: 5px;
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.53);
    padding: 20px;
}

#autoScanWrapper .title {
    font-size: 1.5em;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 8px;
    margin-bottom: 8px;
}

#autoScanWrapper > .buttonContainer {
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#autoScanWrapper > .buttonContainer > button + button {
    margin-left: 10px;
}

#autoScanWrapper .groupContainer {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 108px);
    padding: 10px;
}

#autoScanWrapper .groupContainer .radioContainer {
    margin-right: 10px;
}

#autoScanWrapper .groupContainer .group {
    background-color: var(--dark-gray);
    display: flex;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.53);
}

#autoScanWrapper .groupContainer .group + .group {
    margin-top: 10px;
}

#alertContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    position: absolute;
    width: auto;
    max-width: 400px;
    height: auto;
    max-height: calc(100% - 50px);
    right: 25px;
    top: 50px;
    z-index: 99;
}

.alert {
    position: relative;
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.53);
    transition: opacity 0.5s linear;
}

.alert a {
    color: white;
    text-decoration: underline;
}

.alert + .alert {
    margin-top: 10px;
}

.alert-hide {
    opacity: 0;
}

.alert-danger {
    background-color: var(--red);
    color: var(--white);
}

.alert-success {
    background-color: var(--green);
    color: var(--white);
}

.alert-info {
    background-color: var(--blue);
    color: var(--white);
}

.alert-close {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 1.4rem;
    cursor: pointer;
}

.alert-close:hover {
    filter: brightness(0.70);
}

.openExternal {
    cursor: pointer;
}

img.openExternal:hover {
    opacity: .8;
}

.blink {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes dots {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: .25em 0 0 white,
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 white,
        .5em 0 0 white;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
