:root {
    --bg: #212529;
    --red: #e74c3c;
    --dark-red: #c0392b;
    --orange: #E67E22;
    --green: #27AE60;
    --gray: #555555;
    --light-gray: #ebe5d6;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    background-color: var(--bg);
    -webkit-user-select: none;
}

#wrapper {
    margin: 40px 40px 0 40px;
}

.centerContainer {
    width: 100%;
    text-align: center;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    -webkit-app-region: drag;
}

.control-box {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 16px;
    height: 26px;
    padding-top: 5px;
    margin-left: 10px;
    -webkit-app-region: no-drag;
    z-index: 9;
}

.control-box .close {
    background-color: var(--red);
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    z-index: 99;
}

.control-box .close:hover {
    background-color: var(--dark-red);
}

button {
    display: block;
    border: none;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    outline: 0;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:disabled {
    background-color: var(--gray);
    opacity: 1;
    color: var(--light-gray);
    cursor: not-allowed;
}

.button-green {
    background-color: var(--green);
}

.button-orange {
    background-color: var(--orange);
}

.buttonContainer {
    display: inline-flex;
    margin-top: 15px;
}

.buttonContainer > * {
    margin: 0 5px 0 5px;
}

h1 {
    margin: 30px 0 15px 0;
    color: var(--light-gray);
    font-size: 2.5em;
}

.subtitle {
    color: var(--light-gray);
    font-size: 1.15em;
}

#selectFiles, #processVideos, #settingsBtn {
    margin-bottom: 10px;
}

.processDataContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.text-white {
    color: var(--white);
}

.text-success, .update-available {
    color: var(--green);
}

a {
    text-decoration: none;
    color: var(--green);
}

a:hover {
    text-decoration: underline;
}

.gray-href {
    text-decoration: none;
    color: var(--gray);
    font-weight: normal;
}

.repo {
    position: absolute;
    bottom: 15px;
    right: 25px;
    font-weight: bold;
    color: var(--gray);
}

.switch {
    position: absolute;
    display: inline-block;
    width: 48px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e67e22;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e67e22;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.progress-container {
    display: flex;
    justify-content: center;
    padding: 25px 0 10px 0;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 550px;
    height: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--light-gray);
    border-radius: 15px;
    border: 0;
}

progress.progress-orange[value]::-webkit-progress-value {
    background-color: var(--orange);
    border-radius: 15px;
}

progress.progress-green[value]::-webkit-progress-value {
    background-color: var(--green);
    border-radius: 15px;
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.lastProjectContainer {
    width: 100%;
    margin-top: 25px;
    height: 208px;
}

.lastProjectContainer .item {
    display: flex;
    align-items: center;
    color: var(--light-gray);
    background-color: var(--gray);
    width: 100%;
    height: 44px;
    margin: 4px 0 4px 0;
    padding: 6px 16px 6px 16px;
    border-radius: 3px;
    cursor: pointer;
}

.lastProjectContainer .item:hover {
    filter: brightness(0.90);
}

.loading:after {
    content: '.';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: .25em 0 0 white,
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 white,
        .5em 0 0 white;
    }
}
