<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReelSteady Joiner</title>
    <link rel="stylesheet" type="text/css" href="../assets/style/app.css">
</head>
<body>
<div class="nav"></div>
<div class="control-box">
    <div class="close" id="closeWindow" title="Close"></div>
</div>
<div id="wrapper">
    <div id="alertContainer"></div>
    <div class="centerContainer">
        <div>
            <h1>ReelSteady Joiner</h1>
            <span class="subtitle">Select the videos you want to merge without losing the gyroscope data</span>
        </div>
        <div class="buttonContainer">
            <button type="button" class="button-green" id="settingsBtn" style="padding: 0 16px 0 16px;"></button>
            <button type="button" class="button-orange" id="selectFiles">Select files</button>
            <button type="button" class="button-green" id="processVideos" disabled>Merge!</button>
        </div>
    </div>
    <hr style="margin-top: 25px;">
    <div class="projectContainer" id="projectContainer">
        <div class="empty-item">🔎 Add files to start merging!</div>
    </div>
    <div class="repo">
        <img href="https://github.com/rubegartor/ReelSteady-Joiner/releases" src="../assets/images/update.svg"
             alt="" class="openExternal blink" style="display: none;" title="Update available" id="updateLink"/>
        <img href="https://github.com/rubegartor/ReelSteady-Joiner" src="../assets/images/github.svg" alt=""
             class="openExternal" title="Github page"/>
    </div>
</div>
<div id="autoScanWrapperBg" class="modalWrapper" style="display: none;">
    <div id="autoScanWrapper" class="modalContent" style="height: 380px;">
        <div class="close close-modal"></div>
        <div class="title">Chapters</div>
        <div class="groupContainer" id="groupContainer"></div>
        <div class="buttonContainer">
            <button type="button" class="button-green" id="chapterGroupContinueBtn" style="display: none;">Continue</button>
        </div>
    </div>
</div>
<div id="editProjectWrapper" class="modalWrapper" style="display: none;">
    <div class="modalContent">
        <div class="close close-modal"></div>
        <div class="title">Edit project name</div>
        <input type="text" id="projectName" class="projectNameInput" maxlength="128"/>
        <div class="buttonContainer onclose-empty" id="editProjectButtonContainer"></div>
    </div>
</div>
<div id="settingsWrapper" style="display: none;">
    <div class="title">
        <div class="goBack" id="settingsGoBackBtn"></div>
        Settings
    </div>
    <div class="configLine">
        <div>
            <div class="configName">Project save path</div>
            <div class="configDescription">
                Where output video files merged are stored
            </div>
        </div>
        <div class="d-flex">
            <input type="text" id="projectSavePathOption" readonly>
            <button type="button" class="button-sm button-orange" id="projectSavePathBtn">...</button>
        </div>
    </div>
    <div class="configLine">
        <div>
            <div class="configName">Logs</div>
            <div class="configDescription">
                Open the path where the logs are stored
            </div>
        </div>
        <div class="d-flex">
            <button type="button" class="button-sm text-sm button-orange" id="openLogsPathBtn">Open logs</button>
        </div>
    </div>
</div>
</body>
<script src="../render.js"></script>
</html>
