<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>ReelSteady Joiner</title>
    <link rel="stylesheet" type="text/css" href="../assets/style/app.css">
</head>
<body>
<div class="nav"></div>
<div class="control-box">
    <div class="close" id="closeWindow" title="Close"></div>
</div>
<div id="wrapper">
    <div class="centerContainer">
        <div>
            <h1>ReelSteady Joiner</h1>
            <span class="subtitle">Select the videos you want to join without losing the gyroscope data</span>
        </div>
        <div class="buttonContainer">
            <button type="button" class="button-orange" id="selectFiles">Select files</button>
            <button type="button" class="button-green" id="processVideos" disabled>Merge!</button>
        </div>
        <div class="processDataContainer">
            <div>
                <strong>Status: </strong><span id="status" class="loading">Waiting files</span>
            </div>
        </div>
        <div class="rawData">
            <textarea id="rawProcessData" readonly></textarea>
        </div>
    </div>
    <div class="repo">
        <a href="https://github.com/rubegartor/ReelSteady-Joiner/releases" id="updateAvailable" class="update-available" style="display: none;">(Update available)</a>
        <a href="https://github.com/rubegartor/ReelSteady-Joiner" class="gray-href" id="openGithub">https://github.com/rubegartor/ReelSteady-Joiner</a>
    </div>
</div>
</body>
<script src="../app.js"></script>
</html>
